/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import "tailwindcss";
@layer theme, base, components, utilities, theme;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* colors and global parameters for tailwind*/
:root {
    --big-font: "Jaini Purva";
    --sillytext-font: "Margarine";
    --pagenotfound-font: "DM Serif Text";
}

@theme{
    --breakpoint-bgdevice: 800px;
    --breakpoint-smdevice: 600px;
}