/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');


@import "tailwindcss";
@layer theme, base, components, utilities, theme;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* colors and global parameters for tailwind*/
:root {
    --big-font: "Jaini Purva"

}

@theme{
    --breakpoint-nav: 800px;
}